@font-face {
    font-family: 'SFProText';
    src: url(../font/SFProText-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProText';
    src: url(../font/SFProText-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProText';
    src: url(../font/SFProText-Semibold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProText';
    src: url(../font/SFProText-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}