@import './_font';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "SFProText",sans-serif;
  font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;
  -moz-font-feature-settings: "onum=0, pnum=0, lnum=1, tnum=1";       /* Firefox */
  -webkit-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;  /* WebKit */
  -o-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;  
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #717171;
  }
  
  .bodyStopScroll {
    overflow: hidden;
    height: 100vh;
  }
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  button {
    outline: none;
    border: none;
    padding: 0;
  }
  
  input, textarea, select, button {
    border: none;
    outline: none;
  }
  
  .container {
    max-width: 1376px;
    padding: 0 20px;
  }

  .title-text {
    font-size: 64px;
    line-height: 62px;
    font-weight: 700;
    color: #2C9A33;
    text-align: center;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      width: 200%;
      height: 2px;
      background: #2C9A33;
    }
    span {
      background: #fff;
      position: relative;
      z-index: 1;
      padding: 0 20px;
      display: inline-block;
    }
  }

  .back-home {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 15px;
    cursor: pointer;
    z-index: 3;
    &:hover {
      color: #2C9A33;
    }
    &::before {
      content: '<';
      margin-right: 3px;
    }
  }

  .buyNow-link,
  .form-submit,
  .addBasket-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 283px;
    height: 63px;
    border-radius: 13px;
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    background: linear-gradient(-100deg, rgba(175,198,113,1) -70%, rgba(44,154,51,1) 100%);
    &:hover {
      background: #2C9A33;
      color: #fff;
    }
  }

  .input-box {
    position: relative;
    margin-bottom: 15px;
  }
  .show-pass {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    img:last-child {
      display: none;
    }
  }
  .hide-pass {
    img:first-child {
      display: none;
    }
    img:last-child {
      display: block;
    }
  }
  .form__inp {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #717171;
    font-size: 15px;
    line-height: 17px;
    padding: 0 20px;
    transition: .3s all;
    &::placeholder {
      color: #717171;
    }
    &:focus {
      border-color: #2C9A33;
    }
  }
  .check-box {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 12px;
    .form__check {
      appearance: none;
      margin-right: 10px;
      width: 15px;
      height: 15px;
      cursor: pointer;
      &::before {
        content: url(../img/svg/check.svg);
      }
      &:checked::before {
        content: url(../img/svg/check2.svg);
      }
    }
  }
  .form-submit {
    width: 100%;
    height: 40px;
    font-size: 15px;
    line-height: 17px;
    margin-top: 15px;
  }

  .select {
    width: 280px;
    position: relative;
    font-size: 14px;
    line-height: 14px;
    &-head {
      width: 100%;
      height: 40px;
      border: 1px solid #F3F3F3;
      padding: 13px 25px;
      border-radius: 12px;
      cursor: pointer;
    }
    &-options {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: #fff;
      border: 1px solid #F3F3F3;
      border-top: none;
      border-radius: 0 0 12px 12px;
      overflow: hidden;
      display: none;
      .option {
        padding: 5px 25px;
        cursor: pointer;
        &:hover {
          background: #2C9A33;
          color: #fff;
        }
      }
    }
  }

  .showSelect {
    .select-head {
      border-radius: 12px 12px 0 0;
      border-bottom: none;
      img {
        transform: rotate(180deg);
      }
    }
    .select-options {
      display: block;
    }
  }


.chat {
  position: fixed;
  bottom: 30px;
  right: 25px;
  z-index: 9999;
  &-btn {
    cursor: pointer;
  }
  &-item {
    height: 400px;
    overflow-y: scroll;
    padding: 0 17px 0;
    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 10px;
      background: #fff;
    }
    &::-webkit-scrollbar-thumb {
      width: 6px;
      border-radius: 10px;
      background: #ccc;
    }
  }
  &-box {
    width: 315px;
    border-radius: 13px;
    background: #fff;
    box-shadow: 0px 4px 5.4px 0px rgba(0,0,0,0.15);
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    right: 100%;
    bottom: 100%;
    padding: 30px 10px 60px 0;
    overflow: hidden;
    display: none;
    .chat-hide {
      position: absolute;
      top: 6px;
      right: 6px;
      background: transparent;
    }
    .user,
    .admin {
      width: 246px;
      margin-bottom: 8px;
      .text-box {
        width: 246px;
        padding: 10px 10px;
        border: 1px solid #0000004D;
        border-radius: 8px;
        margin-bottom: 3px;
      }
    }
    .admin {
      margin-right: auto;
      .text-box {
        border-bottom-left-radius: 1px;
      }
    }
    .user {
      margin-left: auto;
      .text-box {
        border-bottom-right-radius: 1px;
      }
      .text-data {
        text-align: right;
      }
    }
    .chat-form {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 55px;
      border-top: 1px solid #00000040;
      box-shadow: 0px -4px 11px 0px rgba(0,0,0,0.025);
      .chat-text {
        width: 100%;
        height: 100%;
        resize: none;
        padding: 17px 60px 17px 17px;
      }
      .chat-submit {
        position: absolute;
        top: 0;
        right: 0;
        width: 55px;
        height: 100%;
        background: #2C9A33;
      }
    }
  }
}

.showChat {
  .chat-box {
    display: block;
  }
}

.header {
  padding: 0 20px;
  &::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(10px);
    left: 0;
    top: 0;
    display: none;
  }
  &-box {
    max-width: 1336px;
    margin: 50px auto 25px;
    padding: 5px 20px;
    background: #fff;
    border-radius: 35px;
    position: relative;
    z-index: 99;
  }
  &-nav {
    li {
      font-size: 22px;
      line-height: 26px;
      color: #000;
      margin-right: 38px;
      transition: .3s all;
      &:hover {
        color:  #2C9A33;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  svg {
    transition: .3s all;
  }
  .basket-link {
    display: inline-block;
    margin-right: 38px;
    position: relative;
    &:hover svg path {
      stroke:  #2C9A33;
    }
    .basket-count {
      position: absolute;
      bottom: -6px;
      right: -6px;
      min-width: 18px;
      height: 18px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      line-height: 12px;
      font-weight: 700;
      background: #2C9A33;
      color: #fff;
      padding: 3px;
    }
  }
  .regis-btn {
    background: #fff;
    &:hover svg path {
      fill:  #2C9A33;
    }
  }
  .logo {
    position: relative;
    z-index: 100;
  }
  .menu-btn {
    background: #fff;
    position: relative;
    z-index: 100;
  }
  .menu {
    position: absolute;
    top: 99%;
    left: 0;
    background: #fff;
    width: 100%;
    border-radius: 0 0 35px 35px;
    padding: 0 38px 26px;
    font-size: 14px;
    line-height: 16px;
    color: #2C9A33;
    animation: anim-menu .3s;
    display: none;
    z-index: 99;
    &-nav {
      li {
        margin-bottom: 10px;
      }
    }
  }
  @keyframes anim-menu {
    from {
      top: 50%;
    } to {
      top: 99%;
    }
  }
}
.showMenu {
  &::before {
    display: block;
  }
  .header-box {
    border-radius: 35px 35px 0 0;
  }
  .menu {
    display: flex;
  }
}

.header-home {
  position: absolute;
  width: 100%;
}

.main {
  overflow-x: hidden;
  .block1 {
    width: 100%;
    height: 900px;
    background-image: url(../img/png/block1.png);
    background-size:  cover;
    background-repeat: no-repeat;
    color: #fff;
    &-title {
      font-size: 96px;
      line-height: 96px;
      font-weight: 700;
    }
    &-subtitle {
      font-size: 32px;
      line-height: 38px;
      margin: 15px 0 20px;
    }
  }

  .block2 {
    margin-top: 46px;
    .title-text {
      text-align: left;
      margin-bottom: 20px;
      &::before {
        display: none;
      }
    }
    &-img {
      width: 49%;
    }
    &-info {
      width: 44%;
      .info-text {
        margin-bottom: 20px;
      }
    }
  }

  .block3 {
    margin: 45px 0 62px;
    &-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 78px;
      margin-top: 50px;
    }
    &-card {
      .card-img {
        width: 100%;
        height: 300px;
        border-radius: 35px;
        object-fit: cover;
        margin-bottom: 15px;
      }
    }
  }

  .block4 {
    padding: 72px 0;
    border-top: 3px solid #2C9A33;
    .title-text {
      text-align: left;
      margin-bottom: 20px;
      &::before {
        display: none;
      }
    }
    &-img {
      width: 49%;
      height: 377px;
      border-radius: 35px;
      object-fit: cover;
    }
    &-info {
      width: 44%;
      .info-text {
        margin-bottom: 20px;
      }
    }
  }

  .block5 {
    margin-bottom: 50px;
    &-item {
      margin-top: 17px;
      padding-top: 20px;
      border-top: 1px solid #717171;
      &:first-child {
        margin-top: 40px;
      }
      .item-title {
        font-size: 28px;
        line-height: 33px;
        font-weight: 600;
        width: 95%;
      }
      .show-btn {
        background: #fff;
        width: 70px;
        height: 40px;
      }
      .item-info {
        margin-top: 5px;
        li {
          display: flex;
          align-items: start;
          padding-left: 2px;
          &::before {
            content: '\2022 ';
            margin-right: 10px;
          }
        }
      }
    }

    .hideItem {
      .show-btn {
        svg {
          transform: rotate(180deg);
        }
      }
      .item-info {
        display: none;
      }
    }
  }

  .policy {
    &-box {
      margin: 35px 0 80px;
    }
    &-title {
      margin-bottom: 20px;
    }
    &-text {
      text-indent: 40px;
    }
  }

  .basket {
    .basket-table {
      width: 100%;
      font-size: 15px;
      line-height: 17px;
      margin-top: 25px;
      thead {
        tr {
          th {
            background: #F5F5F5;
            padding: 14px 17px;
            white-space: nowrap;
            font-weight: 400;
            text-align: center;
            &:first-child {
              border-radius: 25px 0 0 25px;
            }
            &:last-child {
              border-radius: 0 25px 25px 0;
            }
            &:first-child{
              text-align: left;
              img {
                margin-right: 80px;
              }
            }
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 10px 0;
          }
          &:first-child td {
            padding-top: 40px;
          }
        }
        .product-info {
          display: flex;
          align-items: center;
        }
        .product-img {
          padding-right: 30px;
          img {
            width: 178px;
            object-fit: contain;
          }
        }
        .product-text {
          position: relative;
          padding-left: 30px;
          &::before {
            content: '';
            position: absolute;
            right: 100%;
            top: 0;
            width: 1px;
            height: 100%;
            background: #2C9A33;
          }
          .product-name {
            max-width: 375px;
            font-size: 20px;
            line-height: 20px;
            font-weight: 700;
            color: #2C9A33;
            overflow-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
          }
          .product_text {
            max-width: 375px;
            margin-top: 7px;
            overflow-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            display: -webkit-box;
          }
        }
        .product-formate {
          border-bottom: 1px solid #717171;
        }
        .product-amount {
          .amount-minus,
          .amount-plus {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            transition: .3s all;
            &:hover {
              background: #2C9A33;
              svg path {
                stroke: #fff;
              }
            }
          }
          .amount-val {
            padding: 0 5px;
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
          }
        }
        .product-price {
          font-size: 32px;
          line-height: 32px;
          font-weight: 700;
          white-space: nowrap;
        }
      }
    }

    .basket-order {
      .order-info {
        width: 49%;
        margin-top: 50px;
        &:last-child {
          padding-left: 40px;
        }
      }
      .input-box {
        margin-bottom: 22px;
        label {
          position: absolute;
          top: -10px;
          left: 29px;
          font-size: 13px;
          line-height: 16px;
          background: #fff;
          padding: 2px;
        }
        &:nth-child(1),
        &:nth-child(2) {
          width: 49%;
        }
        &:nth-child(3) {
          width: 75%;
        }
        &:nth-child(4) {
          width: 49%;
        }
        &:nth-child(5) {
          width: 75%;
        }
        &:nth-child(6) {
          width: 23%;
        }
        &:nth-child(7) {
          width: 34%;
        }
        &:nth-child(8) {
          width: 64%;
        }
      }
      .promocode {
        width: 100%;
        height: 63px;
        padding: 2px;
        border-radius: 20px;
        background: #2C9A33;
        margin-top: 30px;
        &__inp {
          width: 100%;
          height: 100%;
          border-radius: 20px 0 0 20px;
          padding: 0 30px;
          font-size: 24px;
          line-height: 24px;
          color: #fff;
          background: #2C9A33;
          &::placeholder {
            color: #fff;
          }
        }
        &__btn {
          min-width: 147px;
          height: 100%;
          background: #fff;
          border-radius: 0 20px 20px 0;
          font-size: 20px;
          font-weight: 700;
          color: #2C9A33;
        }
      }
      .order-list {
        font-size: 15px;
        line-height: 17px;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #2C9A33;
          padding: 20px 40px;
          strong {
            font-weight: 600;
          }
          img {
            margin-right: 30px;
          }
        }
      }
      .order-payment {
        margin-top: 5px;
        font-size: 15px;
        line-height: 17px;
        .payment-title {
          color: #FB8383;
          padding-left: 40px;
        }
        .payment-list {
          padding: 20px 40px;
          .payment-rad {
            appearance: none;
            margin-right: 30px;
            cursor: pointer;
            &::before {
              content: url(../img/svg/check-circle.svg);
            }
            &:checked::before {
              content: url(../img/svg/check-circle2.svg);
            }
          }
          label {
            cursor: pointer;
          img {
            margin-right: 10px;
            }          
          }
        }
      }
      .toBe-paid {
        margin: 30px 0 30px auto;
        width: 394px;
        border-radius: 25px;
        background: #fff;
        box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.15);
        padding: 16px;
        font-size: 16px;
        line-height: 16px;
        .paid-title {
          font-size: 32px;
          line-height: 32px;
          font-weight: 700;
          color: #2C9A33;
          margin-bottom: 20px;
        }
        .paid-list {
          margin-top: 12px;
        }
        .check-box {
          margin-top: 40px;
          label {
            width: 100%;
          }
        }
        .form-submit {
          height: 62px;
          margin-top: 20px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  .delivery {
    .basket-table tbody .product-text::before {
      display: none;
    }
    .delivery-info {
      margin-top: 36px;
      font-size: 15px;
      line-height: 18px;
      .info-name {
        font-weight: 700;
        margin-right: 15px;
      }
      .edit-btn {
        background: transparent;
        color: #FF9898;
        border-bottom: 1px solid #FF9898;
        font-weight: 700;
      }
      .info-text {
        margin-top: 22px;
      }
    }
  }

  .profile {
    padding-bottom: 100px;
    .title-text {
      white-space: nowrap;
    }
    .profile-info {
      font-size: 14px;
      line-height: 14px;
      padding: 20px 0 45px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 200%;
        height: 2px;
        background: #2C9A33;
      }
      .profile-photo {
        width: 42px;
        height: 42px;
        border-radius: 7px;
        object-fit: cover;
        margin-right: 10px;
      }
      h3 {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: #2C9A33;
        margin-bottom: 5px;
      }
      .address-title {
        margin-right: 10px;
      }
      .change-subscriptions {
        width: 298px;
        height: 41px;
      }
      .edit-btn {
        background: transparent;
        color: #FF9898;
        border-bottom: 1px solid #FF9898;
        font-weight: 700;
      }
      .profile-item {
        margin-right: 50px;
      }
    }
    .profile-name {
      position: absolute;
      right: 0;
      top: 10px;
      font-size: 15px;
      line-height: 15px;
      color: #717171;
    }
    .order-history {
      &-title {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: #2C9A33;
        margin: 50px 0 20px;
      }
      &-table {
        width: 100%;
        font-size: 15px;
        line-height: 15px;
        .product-img {
          width: 178px;
          object-fit: contain;
        }
        .product-name {
          font-size: 20px;
          line-height: 20px;
          font-weight: 700;
          color: #2C9A33;
        }
        td {
          padding: 30px 0;
          border-top: 1px solid #2C9A33;
          &:first-child {
            width: 178px;
            padding-right: 30px;
          }
          &:nth-child(2) {
            width: 280px;
          }
          &:last-child {
            text-align: right;
            font-size: 20px;
            line-height: 20px;
            font-weight: 700;
            color: #2C9A33;
          }
        }
        tr:first-child {
          td {
            border: none;
          }
        }
      }
    }

    .subscriptions {
      &-save {
        width: 126px;
        height: 35px;
        font-size: 15px;
        margin: 0;
      }
      .change-subscriptions {
        position: relative;
        z-index: 3;
      }
      &-item {
        padding: 30px 14px 22px 22px;
        background: #fff;
        position: absolute;
        top: 85%;
        left: 0;
        width: 100%;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        border-radius: 0 0 13px 13px;
        z-index: 2;
        display: none;
      }
      &-list {
        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          input[type="radio"] {
            appearance: none;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: #D9D9D9;
            margin-right: 10px;
            cursor: pointer;
            &:checked {
              background: #2C9A33;
            }
          }
          label {
            cursor: pointer;
          }
        }
      }
    }

    .show-subscriptions {
      .subscriptions-item {
        display: block;
      }
    }
  }

  .products {
    .products-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 40px;
    }
    .product {
      margin-bottom: 60px;
      width: 380px;
      &-photo {
        width: 100%;
        height: 260px;
        margin-bottom: 46px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        .add-basket {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          background: #2C9A33;
          top: 5px;
          right: 10px;
          z-index: 5;
          &:hover {
            opacity: 0.9;
          }
        }
      }
      &-name {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
      }
      &-price {
        font-size: 15px;
        line-height: 15px;
        font-weight: 700;
        color: #2C9A33;
        margin-top: 10px;
      }
    }
  }

  .product-card {
    padding-bottom: 160px;
    .card-slider {
      width: 506px;
      margin-top: 95px;
      margin-right: 25px;
      .swiper-product-prev,
      .swiper-product-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 2;
        &:hover svg path {
          stroke: #2C9A33;
        }
      }
      .swiper-product-prev {
        left: -50px;
      }
      .swiper-product-next {
        right: -50px;
      }
      .card-item, .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .card-photo {
        width: 100%;
        height: 98%;
        object-fit: contain;
      }
      .big-card {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
      }
      .small-card {
        width: 100%;
        margin-top: 30px;
        .card-item {
          background: #F3F3F3;
          border-radius: 12px;
          height: 111px;
          .card-photo {
            width: 90%;
            height: 98%;
          }
        }
        .swiper-slide {
          cursor: pointer;
          border-radius: 8px;
        }
      }
    }

    .card-info {
      width: 50%;
      margin-top: 95px;
      .info-title {
        font-size: 64px;
        line-height: 64px;
        font-weight: 700;
        color: #2C9A33;
        margin-right: 5px;
      }
      .rating {
        margin-top: 10px;
      }
      .info-item {
        border: 1px solid #2C9A33;
        border-radius: 15px;
        padding: 24px 25px;
        margin-top: 16px;
        &:first-child {
          margin-top: 40px;
        }
        .item-title {
          font-size: 24px;
          line-height: 24px;
          font-weight: 700;
          color: #2C9A33;
        }
        .item-price {
          font-size: 20px;
          line-height: 20px;
          font-weight: 500;
          color: #2C9A33;
        }
        .check-data {
          margin-top: 30px;
          p {
            font-size: 16px;
            line-height: 16px;
            font-weight: 500;
          }
        }
      }
      .card-addBasket {
        background: #F3F3F3;
        border-radius: 12px;
        margin-top: 70px;
        width: auto;
        .product-price {
          padding: 16px 40px;
          font-size: 32px;
          line-height: 32px;
          font-weight: 700;
          color: #2C9A33;
        }
        .addBasket-btn {
          width: 243px;
          height: 100%;
          border-radius: 12px;
          font-size: 20px;
        }
      }
    }
  }

  .reviews {
    .reviews-box {
      padding: 75px 0;
      position: relative;
      &::before {
        content: url(../img/svg/up.svg);
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
      }
      &::after {
        content: url(../img/svg/down1.svg);
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  
  .review {
    padding: 10px 0;
    border-bottom: 1px solid #717171;
    &:last-child {
      border: none;
    }
    &-stars {
      img {
        margin-right: 5px;
      }
    }
    &-name {
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      color: #2C9A33;
      margin: 14px 0;
    }
    &-text {
      font-size: 15px;
      line-height: 15px;
      width: 75%;
    }
    &-data {
      font-size: 12px;
      line-height: 12px;
    }
    .photos {
      margin-top: 10px;
      img {
        width: 96px;
        height: 120px;
        object-fit: cover;
        margin-right: 18px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .review-page {
    padding-bottom: 150px;
    .ratings {
      margin: 60px 0;
      font-size: 15px;
      line-height: 15px;
      .reating {
        margin-bottom: 5px;
      }
      &-star {
        margin: 0 45px;
        .star {
          margin-right: 7px;
          &:last-child {
            margin-right: 14px;
          }
        }
      }
      .review-write_btn {
        width: 213px;
        height: 48px;
        border-radius: 8px;
        background: #2C9A33BF;
        font-size: 15px;
        line-height: 15px;
        font-weight: 700;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    .review-title {
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      color: #2C9A33;
      margin-bottom: 45px;
    }
    .review-box {
      margin-bottom: 80px;
      .stars {
        img {
          margin-right: 3px;
        }
      }
      .review-message {
        width: 40%;
        height: 80px;
        border-radius: 8px;
        border: 2px solid #2C9A33;
        padding: 13px 20px;
        font-size: 15px;
        line-height: 15px;
        resize: none;
      }
      .upload-img {
        .upload {
          display: none;
        }
        label {
          width: 79px;
          height: 79px;
          border-radius: 8px;
          border: 2px solid #717171;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
      .review-submit {
        margin-top: 16px;
      }
      .review-img {
        margin-top: 35px;
        img {
          width: 98px;
          height: 120px;
          object-fit: cover;
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .review {
      border: none;
    border-top: 1px solid #717171;
    &:last-child {
      border-top: 1px solid #717171;
    }
    }
  }
}

.footer {
  background: #2C9A33;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  &-top {
    padding: 50px 0;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 95%;
      height: 1px;
      background: #fff;
    }
  }
  &-title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    width: 49%;
  }
  &-form {
    width: 49%;
    height: 63px;
    padding: 2px;
    border-radius: 20px;
    background: #fff;
    .form__inp {
      width: 100%;
      height: 100%;
      border-radius: 20px 0 0 20px;
      padding: 0 30px;
      font-size: 24px;
      line-height: 24px;
      color: #2C9A33;
      &::placeholder {
        color: #2C9A33;
      }
    }
    .form__btn {
      min-width: 147px;
      height: 100%;
      background: #2C9A33;
      border-radius: 0 20px 20px 0;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
    }
  }
  &-box {
    padding: 50px 0 32px;
    .row:first-child {
      margin-bottom: 28px;
    }
    .row:last-child .footer-nav {
      margin-top: 25px;
    }
  }
  &-nav {
    li {
      margin-right: 38px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .socials {
    .social {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
  &-info {
    white-space: nowrap;
    p {
      margin-bottom: 8px;
    }
    a:hover {
      opacity: 0.9;
    }
  }
  &-subnav {
    width: 70%;
    ul {
      li {
        text-align: center;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}



  // START pop-up
  .popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0009;
    z-index: 999;
    overflow-y: scroll;
    &-content {
      width: 800px;
      border-radius: 25px;
      background: #fff;
      padding: 40px 40px 70px;
      position: relative;
      animation: popUp-anim .3s linear;
      margin: 50px auto;
      .logo img {
        width: 143px;
      }
      .form {
        margin-top: 50px;
        width: 283px;
        position: relative;
        &:first-child {
          width: 303px;
          padding-right: 20px;
          margin-right: 20px;
          &::before {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            left: 100%;
            top: 0;
            background-image: linear-gradient(to bottom, #d7d7d7, #c3c3c3, #afafaf, #9c9c9c, #898989, #898989, #898989, #898989, #9c9c9c, #afafaf, #c3c3c3, #d7d7d7);
          }
        }
        &-title {
         font-size: 20px;
         line-height: 20px;
         font-weight: 700;
         color: #2C9A33;
         margin-bottom: 10px;
        }
        .check-text {
          font-size: 12px;
          line-height: 12px;
        }
        .goTo-regis,
        .goTo-login {
          text-align: center;
          margin-top: 30px;
          font-size: 14px;
          line-height: 14px;
          border-bottom: 1px solid #717171;
          cursor: pointer;
          display: inline-block;
        }
      }
    }
  }
  .popUpHide  {
    animation: popUp-anim-hide .5s linear !important;
  }
  // END pop-up

  @keyframes popUp-anim {
    from {
      transform: scale(0);
    } to {
      transform:  scale(1);
    }
  }

  @keyframes popUp-anim-hide {
    from {
      transform: scale(1);
    } to {
      transform:  scale(0);
    }
  }

  @keyframes menu-anim {
    from {
      margin-left: -400px;
    } to {
      margin-left: 0;
    }
  }

  @keyframes menu-anim-hide {
    from {
      margin-left: 0;
    } to {
      margin-left: -400px;
    }
  }

  


  @import './_media'